.header {
    color: #fff;
}

#alert-messages {
    color: #fff;
}

body{
    background-color:black;
    color: #fff
}

.board {
    width: 1800px;
    height:500px;
    margin: auto;
    border: 3px solid #fff;
}

.center{
    text-align: center;
}

.hidden{
    display: none;
}

.p1-reset{
    background: salmon;
}

.p2-reset{
 background: seagreen;
}

#reset-button{
    width: 200px;
    height: 50px;
    font-size: x-large;
	padding:5px 10px;
	color:#fff;
	border:none;
	border-radius:5px;
	
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	//Firefox 1+
	-webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	//Safari 3-4
	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

#left-store{
    display: inline-block;
    width: 15%;
    height:500px;
    vertical-align: middle;
    color: seagreen;
    font-size: 50px;

}

#right-store{
    display: inline-block;
    width: 15%;
    height:500px;
    vertical-align: middle;
    color: salmon;
    font-size: 50px;
}

#slots{
    width: 69%;
    display: inline-block;
    vertical-align: middle;
}

.row{
    width: 100%;
    height: 250px;
}

.slot{
    float: left;
    width: 15%;
    height: inherit;
    margin-right: 10px;
    margin-left: 10px;
}

.cup{
    border-radius: 50%;
    height: 90%;
}

.p1-big-cup{
    border-radius: 30%;
    border: 3px solid salmon;
    height: 95%;
    font-size: 200px;
}

.p2-big-cup{
    border-radius: 30%;
    border: 3px solid seagreen;
    height: 98%;
    font-size: 200px;
}

.big-cup{
    border-radius: 30%;
    border: 3px solid #fff;
    height: 98%; 
}

.p1slotText{
    color: salmon;
    font-size: 170px;
}

.p2slotText{
    color: seagreen;
    font-size: 170px;
}

.p1{
    border: 3px solid salmon;
}

.p2{
    border: 3px solid seagreen;
}

#p1-score-container{
    color:salmon;
    width: 33%;
    display: inline-block;
}

#reset-button-container{
    width: 33%; 
    display: inline-block;
}

#p2-score-container{
    color:seagreen;
    width: 33%;
    display: inline-block; 
}

#p2-score{
    font-size: 300px;
}

#p1-score{
    font-size: 300px;
}

.pebble{
    color: seagreen;
    font-size: 50px;
}